<table class="table" id="bingoScoreboard">
    <%= display_bingo_row("B", (1..15)).html_safe %>
    <%= display_bingo_row("I", (16..30)).html_safe %>
    <%= display_bingo_row("N", (31..45)).html_safe %>
    <%= display_bingo_row("G", (46..60)).html_safe %>
    <%= display_bingo_row("O", (61..75)).html_safe %>
</table>