<%= form_for(:saved_game, url: '#') do |f| %>
	<%= hidden_field_tag :players, @setup[:players], id: "players" %>
	<%= hidden_field_tag :game_speed, @setup[:game_speed], id: "gameSpeed" %>

	<% if logged_in? %>
		<%= f.submit "Save Game", class: "btn btn-primary" %>
	<% else %>
		<%= f.submit "Log in to Save Game", class: "btn btn-primary" %>
	<% end   %>
<% end %>

<%= render 'games/scoreboard' %>

<p id="currentNumber">...</p>

<div>
	<btn class="btn btn-primary" id="resumeGame">Resume</btn>
	<btn class="btn btn-primary" id="stopGame">Pause</btn>
</div>


<select id="playerSelect" >
	<option>Select Player</option>
	<% @setup[:players].to_i.times do |p| %>
		<option value="<%= p %>">Player <%= p + 1 %></option>
	<% end %>
</select>
<%= render 'games/player_cards' %>